# Ignore Play! working directory #
bin/
.cache
/.classpath
/db
/dist/
.eclipse
.history
/.idea
/.idea_modules
/lib/
/logs/
/modules
/out
/.project
/project/project
/project/target
/RUNNING_PID
server.pid
/.settings
/target
test-result
tmp/
*.eml
*.iml
